<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table>
            {% for row in products|batch(3) %}
                <tr>
                    {% for product in row %}
                        <td>{{ product }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

         <pre>
             {{ dump(products) }}
         </pre>
</body>
</html>

{# if product.type == 'product' #}